#*

Really simple template to figure out how to reference
a property of a map within a map (i.e. the child)

It's interesting and perhaps really annoying that including
this comment results in a blank line in the rendered output.

*#
.
Model: ${map.model}
User : ${map.user}
Child: ${map.child.says}
.
